@font-face {
  font-family: 'PFStardust';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/PFStardust.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  height: 100vh;
  background-image: url('homepagebackground.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(41, 25, 42);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'PFStardust', Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  position: relative; /* "EHCorporation" 버튼을 절대 위치로 배치하기 위해 설정 */
}

/* "EHCorporation" 버튼 스타일 */
#home-button {
  position: absolute;
  top: 10px;
  left: 10px; /* 데스크탑 환경에서 화면 최좌상단에 위치 */
  padding: 5px 10px;
  background-color: #ffffff;
  color: #000000;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  z-index: 1000; /* 다른 요소들 위에 나타나도록 설정 */
  user-select: none; /* 텍스트 선택 방지 */
}

#adventure-container {
  width: 60%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: auto;
  max-height: 100vh;
  margin-top: 20px;
}

#adventure-container::-webkit-scrollbar {
  display: none;
}

.choice {
  margin-top: 10px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  user-select: none;
  line-height: 1.5;
}

.choice:hover {
  background-color: #e0e0e0;
}

#story-text {
  user-select: none;
  line-height: 1.5;
}

@media only screen and (max-width: 768px) {
  body {
    background: none;
    height: auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: rgb(41, 25, 42);
  }

  /* 모바일 환경에서 "EHCorporation" 버튼을 화면 최상단에 위치 */
  #home-button {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
  }

  #adventure-container {
    width: 100%;
    padding: 15px;
    background-color: rgb(41, 25, 42);
    color: #ffffff;
    box-shadow: none;
    border-radius: 0;
    overflow: auto;
  }

  #adventure-container::-webkit-scrollbar {
    display: none;
  }

  .choice {
    background-color: rgb(41, 25, 42);
    color: #ffffff;
    border: 1px solid #ffffff;
    line-height: 1.5;
  }

  .choice:hover {
    background-color: #5a375a;
  }
}

@media only screen and (min-width: 769px) {
  body {
    font-size: 20px;
    overflow: auto;
    line-height: 1.5;
  }

  /* 데스크탑 버전에서 대사 부분 폰트 크기 키우기 */
  #story-text {
    font-size: 27px; /* 기본 폰트 크기보다 조금 크게 설정 */
  }
}
